<h2>{{question.title}}</h2>
<h4>{{question.user}}</h4>
<h4>{{question.date}}</h4>
<h3>{{question.body}}</h3>
{{update-question question=model update="update"}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}
